body {
	width: 100%;
	max-width: 960px;
	margin: 20px 0;
}

/*
* Container for body text
*/
.container {
	margin: auto;
	background: #ffffff;
}

.container-noborder {
	width: 70%;
	margin: auto;
	padding: 10px;
	background: #ffffff;
}

/*
* Navigation Bar
*/
nav {
	margin: 50px auto;
	text-align: center;
}

nav ul ul {
	display: none;
}

nav ul li:hover>ul {
	display: block;
}

nav ul {
	background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	padding: 0 10px;
	border-radius: 0px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}

nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	display: block;
	padding: 10px 20px;
	color: #757575;
	text-decoration: none;
}

nav ul ul {
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}

nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

nav ul ul li a {
	padding: 10px 10px;
	color: #fff;
}

nav ul ul li a:hover {
	background: #4b545f;
}

nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}

/* Bottom Navigation / Footer  */
#footer hr {
	width: 100%;
}

#footer {
	font-size: 80%;
	text-align: right;
}

.bottom {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 80%;
	color: #999;
}

ul.bottom {
	list-style-type: none;
	padding: 0px;
	margin: 0;
	margin-top: 10px;
	text-align: center;
}

.bottom li {
	display: inline;
	margin: 5px 5px;
	padding: 0px;
}

.bottom a {
	color: #999;
}

.bottom a:hover {
	color: #ffcc33;
}